<template>
	<div class="card">
		<div class="card-header">
			<h1>Historias</h1>
		</div>
		<div class="card-body">
            <div class="row">
                <div class="col-md-6 col-12">
                    <label>Seleccione proyecto</label>
                    <select v-model="project_id" name="project_id" class="form-control" id="projects" @change="buscarHistories();" >
                        <option value="">Seleccione proyecto</option>
                        <option v-for="project in projects" :value="project.id" :key="project.id">{{ project.name }}</option>
                    </select>
                </div>
                <div class="col-md-6">&nbsp;</div>
	            <div class="col-8 md-8 pt-3">
	            	<h3>Historias</h3>
	            </div>
        		<div class="col-4 md-4 pt-3">
		            <!-- Button trigger modal -->
		            <button type="button" @click="update=false; openModal();" class="btn btn-primary float-right mb-2">
		              Nueva historia
		            </button>
        		</div>
            </div>

            <!-- Modal -->
            <div class="modal" :class="{show:modal}">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{ titleModal }} | {{ project_name }}</h5>
                    <button type="button" @click="closeModal();" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                  	<div class="row">
		                <div class="col-12 md-12">
		                	<span class="text-success" v-if="success">{{ message }}</span>
		                    <div class="form-group">
		                        <label for="nro_carr">Nombre</label>
		                        <input type="text" v-model="history.name" class="form-control" name="name" id="name" placeholder="Nombre de la historia..." />
		                        <span class="text-danger" v-if="errores.name">{{ errores.name[0] }}</span>
		                    </div>
		                </div>
                  	</div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" @click="closeModal();" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" @click="save();" class="btn btn-success">Guardar cambios</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- ./Modal -->

            <div class="row">
            	<div class="col-md-12">
		            <div class="table-responsive pt-0">
		                <table class="table table-striped table-hover">
		                    <thead class="thead-dark">
		                        <tr>
		                        	<th scope="col">#</th>
		                            <th scope="col">Historia</th>
		                            <th scope="col">Empresa</th>
		                            <th scope="col">Proyecto</th>
		                            <th scope="col" colspan="2" class="text-center">Acción</th>
		                        </tr>
		                    </thead>
		                    <tbody>
		                        <tr v-for="(history, index) in histories" :key="history.id">
		                        	<th scope="row">{{ index+1 }} </th>
		                            <td scope="row" width="130" style="vertical-align: middle;">
		                                {{ history.name }}
		                            </td>
		                            <td>
		                                {{ history.project.company.name }}
		                            </td>
		                            <td>
		                                {{ history.project.name }}
		                            </td>
			                        <td width="10">
			                            <button @click="update=true; openModal(history);" class="btn btn-warning">Editar</button>
			                        </td>
			                        <td width="10">
			                            <button @click="eliminar(history.id)" class="btn btn-danger">Eliminar</button>
			                        </td>
		                        </tr>
		                    </tbody>
		                </table>
		            </div>
            	</div>
            </div>

		</div>
	</div>
</template>

<script>
	export default {
		data() {
			return {
				project_id: '',
				project_name: '',
				projects: [],
				histories: [],
                id: 0,
                modal: 0,
                titleModal: '',
                update: true,
				history: {
					project_id: '',
					name: '',
				},
                errores: {},
                success: false,
                message: '',
			}
		},
		methods: {
            async list() {
                const res = await axios.get('histories', {params: {project_id: this.project_id }});
                this.projects = res.data.projects;
                //console.log(res)
            },
            async buscarHistories() {
            	if(Number(this.project_id)<=0) {
            		this.histories = [];
            		return
            	}
            	const res = await axios.get('histories/' + this.project_id );
            	this.histories = res.data;
                let indexProject = this.projects.findIndex(x => x.id == this.project_id);
                this.project_name = this.projects[indexProject].name;
            	//console.log(this.histories)
            },
            openModal(data={} ) {
            	if(Number(this.project_id)<=0) {
            		alert('Selecciona a que proyecto deseas agregar una historia');
            		return
            	}
            	this.success = false;
            	this.message = '';
                this.modal = 1;
                if(this.update) {
                    this.titleModal = 'Modificar Historia';
                    this.id = data.id;
                    this.history.project_id = data.project_id;
                    this.history.name = data.name;
                } else {
                    this.titleModal = 'Crear Historia';
                    this.id = 0;
                    this.history.project_id = this.project_id;
                    this.history.name = '';
                }
            },
            closeModal() {
                this.modal = 0;
                this.errores = {};
            },
            async save() {
                try {
                    if(this.update) {
                        const res = await axios.put('/histories/' + this.id, this.history);
                        this.success = true;
                        this.message = 'Registro actualizado con exito';
                    } else {
                        const res = await axios.post('/histories', this.history);
                        this.success = true;
                        this.message = 'Registro guardado con exito';
                    } 
                    //this.closeModal();
                    this.buscarHistories();
                } catch(error) {
                    if(error.response.data) {
                        this.errores = error.response.data.errors;
                    }
                }
            },
            async eliminar(id=this.id) {
                const res = await axios.delete('/histories/'+ id);
                this.buscarHistories();
                alert('Registro eliminado con exito');
            },
		},
		created() {
			this.list();
		}
	}
</script>

<style type="text/css">
    .show {
        display: list-item;
        opacity: 1;
        background: rgba(44, 38, 75, 0.849);
    }
</style>