<template>
	<div class="card">
		<div class="card-header">
			<h1>Tickets</h1>
		</div>
		<div class="card-body">
            <div class="row">
                <div class="col-md-6 col-12">
                    <label>Seleccione proyecto</label>
                    <select v-model="project_id" name="project_id" class="form-control" id="projects" @change="buscarHistories();" >
                        <option value="">Seleccione proyecto</option>
                        <option v-for="project in projects" :value="project.id" :key="project.id">{{ project.name }}</option>
                    </select>
                </div>
                <div class="col-md-6">
                	<label>Seleccione historia</label>
                    <select v-model="history_id" name="history_id" class="form-control" id="histories" @click="buscarTickets();" >
                        <option value="">Seleccione historia</option>
                        <option v-for="history in histories" :value="history.id" :key="history.id">{{ history.name }}</option>
                    </select>
                </div>
	            <div class="col-8 md-8 pt-3">
	            	<h3>Tickets {{ history_name }}</h3>
	            </div>
        		<div class="col-4 md-4 pt-3">
		            <!-- Button trigger modal -->
		            <button type="button" @click="update=false; openModal();" class="btn btn-primary float-right mb-2">
		              Nuevo ticket
		            </button>
        		</div>
            </div>

            <!-- Modal -->
            <div class="modal" :class="{show:modal}">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{ titleModal }}</h5>
                    <button type="button" @click="closeModal();" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                  	<div class="row">
		                <div class="col-12 md-12">
		                	<span class="text-success" v-if="success">{{ message }}</span>
		                	<div class="row">
		                		<div class="col-md-8">
				                    <div class="form-group">
				                        <label for="nro_carr">Nombre</label>
				                        <input type="text" v-model="ticket.name" class="form-control" name="name" id="name" placeholder="Nombre de la historia..." />
				                        <span class="text-danger" v-if="errores.name">{{ errores.name[0] }}</span>
				                    </div>
		                		</div>
		                		<div class="col-md-4">
		                			<div class="form-group">
		                				<label for="status">Estado</label>
		                				<select v-model="ticket.status" class="form-control">
		                					<option value="ACTIVO">Activo</option>
		                					<option value="EN_PROCESO">En proceso</option>
		                					<option value="FINALIZADO">Finalizado</option>
		                					<option value="CANCELADO">Cancelado</option>
		                				</select>
		                			</div>
		                		</div>
		                	</div>
		                </div>
		                <div class="col-12 md-12">
		                    <div class="form-group">
		                        <label for="nro_carr">Comentario</label>
		                        <textarea v-model="ticket.comment" class="form-control" name="comment" id="comment"></textarea>
		                        <span class="text-danger" v-if="errores.comment">{{ errores.comment[0] }}</span>
		                    </div>
		                </div>
                  	</div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" @click="closeModal();" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" @click="save();" class="btn btn-success">Guardar cambios</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- ./Modal -->

            <div class="row">
            	<div class="col-md-12">
		            <div class="table-responsive pt-0">
		                <table class="table table-striped table-hover">
		                    <thead class="thead-dark">
		                        <tr>
		                        	<th scope="col">#</th>
		                            <th scope="col">Ticket</th>
		                            <th scope="col">Comentario</th>
		                            <th scope="col">Estado</th>
		                            <th scope="col" colspan="2" class="text-center">Acción</th>
		                        </tr>
		                    </thead>
		                    <tbody>
		                        <tr v-for="(ticket, index) in tickets" :key="ticket.id">
		                        	<th scope="row">{{ index+1 }} </th>
		                            <td scope="row" width="130" style="vertical-align: middle;">
		                                {{ ticket.name }}
		                            </td>
		                            <td>
		                                {{ ticket.comment }}
		                            </td>
		                            <td>
		                                {{ ticket.status }}
		                            </td>
			                        <td width="10">
			                            <button @click="update=true; openModal(ticket);" class="btn btn-warning">Editar</button>
			                        </td>
			                        <td width="10">
			                            <button @click="eliminar(ticket.id)" class="btn btn-danger">Eliminar</button>
			                        </td>
		                        </tr>
		                    </tbody>
		                </table>
		            </div>
            	</div>
            </div>

		</div>
	</div>
</template>

<script>
	export default {
		data() {
			return {
				project_id: '',
				history_id: '',
				project_name: '',
				history_name: '',
				projects: [],
				histories: [],
				tickets: [],
                id: 0,
                modal: 0,
                titleModal: '',
                update: true,
				ticket: {
					history_id: '',
					name: '',
					comment: '',
					status: 'ACTIVO',
				},
                errores: {},
                success: false,
                message: '',
			}
		},
		methods: {
            async list() {
                const res = await axios.get('histories');
                this.projects = res.data.projects;
            },
            async buscarHistories() {
            	if(Number(this.project_id)<=0) {
            		this.histories = [];
            		return
            	}
            	const res = await axios.get('histories/' + this.project_id );
            	this.histories = res.data;
                let indexProject = this.projects.findIndex(x => x.id == this.project_id);
                this.project_name = this.projects[indexProject].name;
            },
            async buscarTickets() {
            	if(Number(this.history_id)<=0) {
            		this.tickets = [];
            		return
            	}
            	const res = await axios.get('ticket/' + this.history_id );
            	this.tickets = res.data;
                let indexHistory = this.histories.findIndex(x => x.id == this.history_id);
                this.history_name = this.histories[indexHistory].name;
            },
            openModal(data={} ) {
            	if(Number(this.history_id)<=0) {
            		alert('Selecciona a que historia deseas agregar una ticket');
            		return
            	}
            	this.success = false;
            	this.message = '';
                this.modal = 1;
                if(this.update) {
                    this.titleModal = 'Modificar Ticket';
                    this.id = data.id;
                    this.ticket.history_id = data.history_id;
                    this.ticket.name = data.name;
                    this.ticket.comment = data.comment;
                    this.ticket.status = data.status;
                } else {
                    this.titleModal = 'Crear Ticket';
                    this.id = 0;
                    this.ticket.history_id = this.history_id;
                    this.ticket.name = '';
                    this.ticket.comment = '';
                    this.ticket.status = 'ACTIVO';
                }
            },
            closeModal() {
                this.modal = 0;
                this.errores = {};
            },
            async save() {
                try {
                    if(this.update) {
                        const res = await axios.put('/ticket/' + this.id, this.ticket);
                        this.success = true;
                        this.message = 'Registro actualizado con exito';
                    } else {
                        const res = await axios.post('/ticket', this.ticket);
                        this.success = true;
                        this.message = 'Registro guardado con exito';
                    } 
                    //this.closeModal();
                    this.buscarTickets();
                } catch(error) {
                    if(error.response.data) {
                        this.errores = error.response.data.errors;
                    }
                }
            },
            async eliminar(id=this.id) {
                const res = await axios.delete('/ticket/'+ id);
                this.buscarTickets();
                alert('Registro eliminado con exito');
            },
		},
		created() {
			this.list();
		}
	}
</script>

<style type="text/css">
    .show {
        display: list-item;
        opacity: 1;
        background: rgba(44, 38, 75, 0.849);
    }
</style>